{% extends "auctions/layout.html" %}

{% block title %}
    {{ category }}
{% endblock %}

{% block body %}

    <h2 class="my-4 ml-3"><b>{{ category }}</b></h2>

    <div class="row g-4">
        {% for listing in listings %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 shadow-sm">

                    {% if listing.image_url %}
                        <img class="card-img-top listing-img" src="{{ listing.image_url }}" alt="Picture of {{ listing.title }}">
                    {% endif %}

                    <div class="card-body">
                        <h4 class="card-title"><b>{{ listing.title }}</b></h3>
                        <p class="card-text text-muted">{{ listing.description }}</p>
                        <p class="card-text"><b>Price</b>: £{{ listing.price }}</p>
                        
                        <div class="mt-auto">
                            <p class="small text-muted"><i>Created {{ listing.created_at }}</i></p>
                            <a class="btn btn-primary" href="{% url 'view_listing' listing.title %}">View Listing</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="col-12">
                    <div class="alert alert-info"><b>No active listings.</b></div>
                </div>
        {% endfor %}
    </div>

{% endblock %}